<div class="main-image" fxLayoutAlign="center none">
    <img src="/assets/pictures/iphone/iphones.png">
</div>
<div class="main" fxLayoutAlign="center none">
    <div class="content"  fxFlex.xs="90%" fxFlex="80%">
        <h1 class="main-title">Ремонт Apple iPhone:</h1>
        <!--<div class="intro">-->
            <!--<p>Дополнительные сведения о вариантах обслуживания iPhone, о гарантии и ценах.</p>-->
        <!--</div>-->
        <div fxLayoutAlign="center none">
            <div class="grid">
                <a fxFlex="0 1 calc(25% - 40px)" routerLink="/service/price-list/12" fxFlex.xs="0 1 calc(50% - 30px)" *ngFor="let iphone of iphones"
                     class="grid-item" fxLayout="column">
                    <img [src]="iphone" width="100%">
                    iPhone XS
                </a>
            </div>
        </div>


        <!--<div fxLayoutAlign="center none">-->
            <!--<div class="grid">-->
                <!--<div fxFlex="" class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone XS-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone XS Max-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone X-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 8-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 8 Plus-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 7-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 7 Plus-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 6s-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 6s Plus-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 6-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 6 Plus-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone SE-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 5s-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 5c-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 5-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 4s-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 4-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 3GS-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone 3G-->
                <!--</div>-->
                <!--<div class="grid-item" fxLayout="column">-->
                    <!--<img src="/assets/pictures/iphone/iphone7-colors.png" width="100%">-->
                    <!--iPhone-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div class="grid">-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_XS.jpg" width="100%">-->
                <!--iPhone XS-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_XSmax.jpg" width="100%">-->
                <!--iPhone XS Max-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_X.jpg" width="100%">-->
                <!--iPhone X-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone8.jpg" width="100%">-->
                <!--iPhone 8-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_8plus.jpg" width="100%">-->
                <!--iPhone 8 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_7.jpg" width="100%">-->
                <!--iPhone 7-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_7plus.jpg" width="100%">-->
                <!--iPhone 7 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_6s.jpg" width="100%">-->
                <!--iPhone 6s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_6splus.jpg" width="100%">-->
                <!--iPhone 6s Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_6.jpg" width="100%">-->
                <!--iPhone 6-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_6plus.jpg" width="100%">-->
                <!--iPhone 6 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_SE.jpg" width="100%">-->
                <!--iPhone SE-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_5s.jpg" width="100%">-->
                <!--iPhone 5s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_5c.jpg" width="100%">-->
                <!--iPhone 5c-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/iphone_5.png" width="100%">-->
                <!--iPhone 5-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/IPhone4S.png" width="100%">-->
                <!--iPhone 4s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/done/IPhone4S.png" height="100%">-->
                <!--iPhone 4-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="grid-item" fxLayout="column">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="src/assets/pictures/iphone/iphone-cplor/" height="100%">&ndash;&gt;-->
                <!--&lt;!&ndash;iPhone 3GS&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="grid-item" fxLayout="column">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="src/assets/pictures/iphone/iphone-cplor/" height="100%">&ndash;&gt;-->
                <!--&lt;!&ndash;iPhone 3G&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="grid-item" fxLayout="column">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="src/assets/pictures/iphone/iphone-cplor/" height="100%" width="auto">&ndash;&gt;-->
                <!--&lt;!&ndash;iPhone&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="grid">-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-xs-colors.jpg" height="100%">-->
                <!--iPhone XS-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-xs-max-colors.jpg" height="100%">-->
                <!--iPhone XS Max-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-x-colors.jpg" height="100%">-->
                <!--iPhone X-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-8-colors.jpg" height="100%">-->
                <!--iPhone 8-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-8plus-colors.jpg" height="100%">-->
                <!--iPhone 8 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone7-colors.jpg" height="100%">-->
                <!--iPhone 7-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone7plus-colors.jpg" height="100%">-->
                <!--iPhone 7 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-6s-colors.jpg" height="100%">-->
                <!--iPhone 6s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-6splus-colors.jpg" height="100%">-->
                <!--iPhone 6s Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone6-colors.jpg" height="100%">-->
                <!--iPhone 6-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone6plus-colors.jpg" height="100%">-->
                <!--iPhone 6 Plus-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-se-colors.jpg" height="100%">-->
                <!--iPhone SE-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone5s-colors.jpg" height="100%">-->
                <!--iPhone 5s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone5c-colors.jpg" height="100%">-->
                <!--iPhone 5c-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone5-colors.jpg" height="100%">-->
                <!--iPhone 5-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone4s-colors.jpg" height="100%">-->
                <!--iPhone 4s-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone4-colors.jpg" height="100%">-->
                <!--iPhone 4-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone3gs-colors.jpg" height="100%">-->
                <!--iPhone 3GS-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone3g-colors.jpg" height="100%">-->
                <!--iPhone 3G-->
            <!--</div>-->
            <!--<div class="grid-item" fxLayout="column">-->
                <!--<img src="/assets/pictures/iphone/iphone-cplor/iphone-iphone-original-colors.jpg" height="100%" width="auto">-->
                <!--iPhone-->
            <!--</div>-->

        <!--</div>-->
        <div fxLayoutAlign="center none">
            <div class="regular">
                <div class="regular-item">
                    <h2>Как сдать устройство iPhone в ремонт?</h2>
                    <p>
                        Компания Apple предлагает множество способов получения поддержки и обслуживания для iPhone.
                        Выберите оптимальный для себя вариант.
                        Ответы на вопросы можно найти в наших статьях службы поддержки.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Свяжитесь с нами</h2>
                    <p>
                        Свяжитесь с нами, чтобы получить консультацию специалиста службы поддержки Apple.
                        Мы поможем вам решить проблему или оформить ремонт.
                        Прежде чем обращаться к нам, подготовьте серийный номер iPhone, свой идентификатор Apple ID и пароль.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Принесите устройство</h2>
                    <p>
                        Чтобы получить помощь при личной встрече, принесите свой продукт в авторизованный сервисный
                        центр компании Apple или к своему оператору связи.
                        Перед этим убедитесь, что вы знаете свой идентификатор Apple ID и пароль к нему.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Сколько это будет стоить?</h2>
                    <p>
                        Если проблема покрывается гарантией или законом о защите прав потребителей, плата не взимается.
                        Если проблема не покрывается гарантией, стоимость обслуживания зависит от типа ремонта.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Сколько времени это займет?</h2>
                    <p>
                        Если проблема покрывается гарантией или законом о защите прав потребителей, плата не взимается.
                        Если проблема не покрывается гарантией, стоимость обслуживания зависит от типа ремонта.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Ремонт экрана</h2>
                    <p>
                        сли экран iPhone случайно треснет, вы сможете починить его в одном
                        из наших авторизованных сервисных центров.
                        Повреждение, вызванное несчастным случаем или ненадлежащим обращением,
                        не покрывается гарантией Apple, поэтому вам придется оплатить негарантийное обслуживание.
                        Если трещина на экране появилась вследствие дефекта производства, она покрывается гарантией
                        Apple и законом о защите прав потребителей.

                        В авторизованном сервисном центре компании Apple проведут диагностическое тестирование и узнают,
                        требуется ли вашему iPhone дополнительный ремонт. Также вам дадут оценку стоимости ремонта.
                        Сервисные центры устанавливают свои цены. Стоимость ремонта будет зависеть от модели iPhone и
                        от наличия дополнительных повреждений.
                    </p>
                </div>
                <div class="regular-item">
                    <h2>Подготовка к обслуживанию iPhone</h2>
                    <ul>
                        <li>Создайте резервную копию iPhone с помощью iCloud или iTunes. Резервная копия потребуется для
                            восстановления ваших данных в случае, если возникнет необходимость сброса операционной системы.</li>
                        <li>Убедитесь, что вы помните свой идентификатор Apple ID и пароль.</li>
                        <li>Если в iPhone вставлена SIM-карта, достаньте ее и сохраните.&nbsp;</li>
                        <li>Оставьте у себя кабели и другие аксессуары.</li>
                    </ul>
                </div>
                <div class="regular-item">
                    <h2>После обслуживания</h2>
                    <p>
                        Возможно, когда вы заберете свой iPhone после ремонта, вы обнаружите, что на нем новая операционная
                        система. Если в iPhone используется SIM-карта, вставьте ее.
                        Включите iPhone и следуйте инструкциям, которые увидите на экране.
                        По завершении настройки восстановите свои данные из резервной копии.

                        Мы предоставляем гарантию на обслуживание, в том числе на замененные запасные части,
                        сроком на 14 дней.
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
