<mat-toolbar class="header-main" fxLayoutAlign="center none">
    <div [fxFlex.gt-md]="70" fxFlex="90" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo">
                <h3>Sava Jobs</h3>
            </div>
            <div class="icons">
                <i class="material-icons">
                    subscriptions
                </i>
                <i class="material-icons">
                    subscriptions
                </i>
                <i class="material-icons">
                    subscriptions
                </i>
            </div>
        </div>
        <div>
            <a href="#">Ремонт</a>
            <a href="#">Магазин</a>
            <a href="#">О нас</a>
        </div>
    </div>
</mat-toolbar>
