.mat-toolbar {
  //background-color: transparent;
  opacity: 0.6;
  background-color: black;
  color: white;
  z-index: 9999;
}

.header-main {
  position: fixed;
  h3 {
    font-weight: lighter;
  }

  hr {
    height: 20px;
    width: 0;
  }

  .icons {
    padding-left: 25px;
    border-left: 1px solid;
    i {
      margin-right: 15px;
    }
  }
  .logo {
    margin-right: 25px;
  }

  a{
    font-weight: lighter;
    margin-left: 20px;
    color: white;
  }
}

