<mat-toolbar class="header-main" fxLayoutAlign="center none">
    <div [fxFlex.gt-md]="70" fxFlex="90" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo">
                <h3>Sava Jobs</h3>
            </div>
            <div class="icons" *ngIf="media">
                <i class="material-icons">
                    subscriptions
                </i>
                <i class="material-icons">
                    subscriptions
                </i>
                <i class="material-icons">
                    subscriptions
                </i>
            </div>
        </div>
        <div *ngIf="media">
            <a routerLink="/service">Ремонт</a>
            <a routerLink="/store">Магазин</a>
            <a routerLink="/store">О нас</a>
        </div>
        <div *ngIf="!media">
            <button mat-icon-button (click)="mediaMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
