.store-header{
  height: 75%;
  background-image: url("../../../assets/pictures/store-bacground.jpg");
  background-size: 100% auto;
  color: white;
  text-align: center;
  h1 {
    font-weight: lighter;
  }

  h3 {
    font-weight: lighter;
  }
}
