.store-header {
  .banner-container {
    .banner {
      background: rgba(0, 0, 0, 0.35);
      overflow: hidden;
      .bg-image {
        margin-top: 56px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 75% 15%;
        width: 100%;
        background-image: url("/assets/pictures/store-bacground.jpg");
        @media (max-width: 800px) {
          min-height: 300px;
        }
        @media (min-width: 801px) and (max-width: 1100px) {
          min-height: 400px;
        }
        @media (min-width: 1101px) and (max-width: 1500px) {
          min-height: 500px;
        }
        @media (min-width: 1501px) {
          min-height: 600px;
        }
      }
    }
    .banner-content {
      width: 100%;
      text-align: center;
      color: white;
      position: absolute;
      top: 99px;
      h1 {
        font-family: "SF Pro Display", "SF Pro Icons", sans-serif;
        font-weight: 500;
      }
      p {
        margin-top: 16px;
        font-family: "SF Pro Display", "SF Pro Icons", sans-serif;
        font-weight: 300;
      }
      @media (max-width: 735px) {
        position: relative;
        color: black;
        top: 35px;
      }

      @media (max-width: 959px) {
        h1 {
          font-size: 31px;
        }
        p {
          font-size: 19px;
        }
      }

      @media (min-width: 960px) and (max-width: 1279px) {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 20px;
        }
      }

      @media (min-width: 1280px) {
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 22px;
        }
      }
    }
  }
}
