<div class="footer">
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="65%" fxLayoutAlign="center center">
            <div class="map-container">
                <agm-map class="map" [latitude]="latitude" [zoom]="17" [longitude]="longitude" [styles]="styles">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="labelOptions">
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <div fxFlex="35%" fxLayoutAlign="center center">
            <div class="contacts">
                <h4>
                    Контакты:
                </h4>

                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>phone</mat-icon>
                        <p matLine> +38 (099) 239 77 77 </p>
                        <p matLine> +38 (095) 485 93 57 </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>email</mat-icon>
                        <p matLine> Sava_jobs@icloud.com </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>place</mat-icon>
                        <p matLine> переулок Харьковский 6, 2 этаж </p>
                        <p matLine> Ахтырка, Сумская область, Украина </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>access_time</mat-icon>
                        <p matLine> Пн: Выходной </p>
                        <p matLine> Вт - Пт: 10:00 - 17:00 </p>
                        <p matLine> Сб - Нд: 10:00 - 16:00 </p>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="unde-footer">
      <!--<mat-list fxLayout="row" fxLayoutAlign=" center">-->
        <!--<mat-list-item>-->
          <!--<mat-icon matListIcon svgIcon="facebook-brands"></mat-icon>-->
          <!--<h3 matLine> Facebook </h3>-->
        <!--</mat-list-item>-->
        <!--<mat-list-item>-->
          <!--<mat-icon matListIcon>"instagram-brands"</mat-icon>-->
          <!--<h3 matLine> Instagram </h3>-->
        <!--</mat-list-item>-->
        <!--<mat-list-item>-->
          <!--<img src="/assets/icons/logo.png" width="300px">-->
        <!--</mat-list-item>-->
        <!--<mat-list-item>-->
          <!--<mat-icon matListIcon>folder</mat-icon>-->
          <!--<h3 matLine> Telegram </h3>-->
        <!--</mat-list-item>-->
        <!--<mat-list-item>-->
          <!--<mat-icon matListIcon>folder</mat-icon>-->
          <!--<h3 matLine> Youtube </h3>-->
        <!--</mat-list-item>-->
      <!--</mat-list>-->
      <div class="social" fxLayout="row" fxLayoutAlign="center center">
        <div>
          <mat-icon svgIcon="facebook-brands"></mat-icon>
          Facebook
        </div>
        <div>
          <mat-icon svgIcon="finstagram-brands"></mat-icon>
          Instagram
        </div>
        <img src="/assets/icons/logo.png" width="300px">
        <div>
          <mat-icon svgIcon="telegram-plane-brands"></mat-icon>
          Telegram
        </div>
        <div>
          <mat-icon svgIcon="youtube-brands"></mat-icon>
          Youtube
        </div>

      </div>
        <mat-nav-list class="footer-menu" fxLayout="row" fxLayoutAlign="center center">
            <a mat-list-item routerLink="/service"> Ремонт </a>
            <a mat-list-item routerLink="/store"> Магазин </a>
            <a mat-list-item routerLink="/store"> О нас </a>
        </mat-nav-list>

        <div class="copyring">
            © Copyright 2018
        </div>
    </div>
</div>

<!--@DhananjayLasankute123 You can add a custom marker icon by <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.icon" [markerDraggable]="m.draggable" [title]="m.title"> and in my component i am setting the url to this.markers.icon = "../assets/img/test.png"-->
