.footer {
  background-color: #404040;
  color: white;

  mat-list-item {
    color: white;
    font-weight: lighter;
  }

  .contacts {
    text-align: left;
    padding: 15px 0;
    mat-list-item {
      font-size: 14px;
    }
  }

  .map-container {
    width: 100%;
    height: 450px;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  h4 {
    font-weight: lighter;
    padding: 0 16px;
  }

  .unde-footer {
    background-color: #181A1E;
    .social {
      height: 200px;
      div {
        margin: 0 5px;
      }
      mat-icon {
        margin: 0 5px;
      }
    }
    .footer-menu {
      a {
        color: white;
        font-size: 14px;
        margin: 0 15px;
      }
    }
    .copyring {
      padding: 20px 0;
      text-align: center;
      font-size: 10px;
    }
  }
}
