.detailModal {
  height: 100%;
  position: relative;
  gallery {
    height: 100%;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .gallery {
    height: 100%;
    -webkit-transition: height 1s;
    transition: height 1s;
  }
  .content {
    padding: 20px;

    .actions {
      text-align: right;
    }
  }
  @media (max-width: 959px) {
    .gallery {
      height: 70%;
    }
  }
}

.dialog-detail {
  .mat-dialog-container {
    padding: 0;
  }
}

.close-modal {
  position: fixed;
  top: 3px;
  right: 3px;
  color: white;
  z-index: 10;
  .mat-icon {
    filter: drop-shadow(0px 0px 1px black);
    color: white;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;

  }
  .mat-icon:hover{
    opacity: 1;
  }
}
