<mat-card class="example-card">
  <img mat-card-image src="/api/image/{{cardData.cover}}">
  <mat-card-content>
    <mat-card-title>{{cardData.title}}</mat-card-title>
    <mat-card-subtitle>{{cardData.totalRating}}/10</mat-card-subtitle>
    <mat-card-subtitle>{{cardData.price}} грн.</mat-card-subtitle>
    <p>{{cardData.shortDescription}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="detail()">Подробнее</button>
    <button mat-button (click)="bye()">Купить</button>
  </mat-card-actions>
</mat-card>