.content {
  margin-top: 50px;
}

.text {
  text-align: center;
  padding: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  .card {
    margin: 0 15px;
    flex: 0 0 calc(25% - 30px);
    box-sizing: border-box;
    max-width: calc(25% - 30px);
    min-width: calc(25% - 30px);
    h2 {
      margin: 10px 0 15px 0;
      text-align: center;
      font-family: "Myriad Set Pro", sans-serif;
      font-weight: 400;
    }
  }
  @media (max-width: 400px) {
    .card {
      margin: 0 5px;
      flex: 0 0 calc(33.33% - 10px);
      max-width: calc(33.34% - 10px);
      min-width: calc(33.33% - 10px);
    }
  }
  @media (min-width: 401px) and (max-width: 550px) {
    .card {
      margin: 0 10px;
      flex: 0 0 calc(33.33% - 20px);
      max-width: calc(33.34% - 20px);
      min-width: calc(33.33% - 20px);
    }
  }
  @media (min-width: 550px) and (max-width: 599px) {
    .card {
      margin: 0 10px;
      flex: 0 0 calc(25% - 20px);
      max-width: calc(25% - 20px);
      min-width: calc(25% - 20px);
    }
  }
  @media (min-width: 599px) and (max-width: 959px) {
    .card {
      margin: 0 10px;
      flex: 0 0 calc(25% - 20px);
      max-width: calc(25% - 20px);
      min-width: calc(25% - 20px);
    }
  }
}
