<h1 mat-dialog-title>Edit message</h1>
<div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <!--<p>Type name of new section</p>-->
        <div fxLayout="column" fxLayoutAlign="center end">
            <mat-form-field>
                <input placeholder="Title" matInput [(ngModel)]="product.title">
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Price" matInput [(ngModel)]="product.price">
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Short Description" matInput [(ngModel)]="product.shortDescription">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
            <mat-form-field>
                <input placeholder="Description" matInput [(ngModel)]="product.description">
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Total Rating" matInput [(ngModel)]="product.totalRating">
            </mat-form-field>
            <mat-form-field>
                <input placeholder="Min odd" matInput>
            </mat-form-field>
        </div>

    </div>
    <div>
        <input style="display: none"
               type="file"
               (change)="onFilesSelected($event)"
               multiple
               #fileInput>
        <button mat-mini-fab (click)="fileInput.click()">
            <mat-icon aria-label="Attach file">attach_file</mat-icon>
        </button>
    </div>
    <div>
        <input style="display: none"
               type="file"
               (change)="onCoverSelected($event)"
               #coverInput>
        <button mat-mini-fab (click)="coverInput.click()">
            <mat-icon aria-label="Attach file">attach_file</mat-icon>
        </button>
    </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button color="primary" (click)="closeClick()">Cancel</button>
    <button mat-button color="primary" (click)="submitClick()">Submit</button>
</div>
