<div fxLayoutAlign="center none">
    <div fxFlex="98%" class="admin-store">
        <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">

            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>

            <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.created | date:'dd/MM/yy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.price}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="hidden">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hidden</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.hidden ? 'yes' : 'no'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="preview">
                    <mat-header-cell *matHeaderCellDef class="text-center">Preview</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="button-row text-center">
                            <button mat-button
                                    color="primary"
                                    (click)="cardPreview(row)">
                                Card Preview
                            </button>
                            <button mat-button
                                    color="primary"
                                    (click)="detailPreview(row)">
                                Detail Preview
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="text-center">Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="button-row text-center">
                            <button mat-button
                                    color="primary"
                                    (click)="editProduct(row)">
                                Edit
                            </button>
                            <button mat-button
                                    color="warn"
                                    (click)="deleteProduct(row._id)">
                                Delete
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10"
                           [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>

        </div>

    </div>
</div>
