<app-service-header></app-service-header>

<div fxLayout="column" fxLayoutAlign=" center">
    <div class="row apple-grid" fxLayoutAlign="center none">
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/iphone">
                <div class="img-cont">
                    <img src="assets/icons/apple/iphone.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">iPhone</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/ipad">
                <div class="img-cont">
                    <img src="assets/icons/apple/ipad.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="aitem-title">iPad</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/watch">
                <div class="img-cont">
                    <img src="assets/icons/apple/apple_watch.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Apple Watch</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/mac">
                <div class="img-cont">
                    <img src="assets/icons/apple/macbookpro.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Macbook</span>
            </a>
        </div>
    </div>
</div>

<!--<div class="main-service-container"fxLayout.lt-lg="column" fxLayout="row">-->
    <!--<div class="service-item" fxFlex.gt-md="100%" fxFlex="33.33%" fxLayoutAlign=" center" fxLayout="row">-->
        <!--<div fxFlex="65%" fxLayout="column" fxLayoutAlign="center center">-->
            <!--<div>-->
                <!--<h2>Замена стекла</h2>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>Оригинальный дисплей сохраняется<br>-->
                    <!--Экономия до 70% на замене дисплея<br>-->
                    <!--Заводская технология OCA</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div fxFlex="35%">-->
            <!--<img src="/assets/pictures/iphone/iphones.png" width="100%">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="service-item" fxFlex.gt-md="100%" fxFlex="33.34%" fxLayoutAlign=" center" fxLayout="row">-->
        <!--<div fxFlex="65%" fxLayout="column" fxLayoutAlign="center center">-->
            <!--<div>-->
                <!--<h2>Магазин б/у техники Apple</h2>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>Устройства, которые прошли проверку нашими инженерами</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div fxFlex="35%">-->
            <!--<img src="/assets/pictures/iphone/iphones.png" width="100%">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="service-item" fxFlex.gt-md="100%" fxFlex="33.33%" fxLayout="row">-->
        <!--<div fxFlex="65%" fxLayout="column" fxLayoutAlign="center center">-->
            <!--<div>-->
                <!--<h2>Ремонт Apple в Украине</h2>-->
            <!--</div>-->
            <!--<div>-->
                <!--<p>Принимаем устройства из любого города Украины</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div fxFlex="35%" fxLayoutAlign="end center">-->
            <!--<div class="image-container" fxLayoutAlign="end center">-->
                <!--<img src="assets/pictures/mail.png" height="100%">-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="subheader">-->
<!--<h2>Стоимость услуг по ремонту iPhone 7</h2>-->
<!--<p>Мы используем только качественные комплектующие для ремонта iPhone 7 <br>-->
<!--Запчасти для ремонта уже включены в стоимость работы.</p>-->
<!--</div>-->

<div fxLayout="column" fxLayoutAlign=" center">
    <div class="regular">
        <div class="regular-item">
            <h2>Мы ремонтируем – вы отдыхаете</h2>
            <p>
                Наши инженеры специализируются на всех видах ремонта Apple.
                Как на сложных ремонтах, которые предусматривают наличие прямых рук и знание микросхемотехники,
                так и на более простых – модульных ремонтах. Средний опыт работы специалистов — 9 лет.
                За все время существования сервисного центра, инженеры UiPservice отремонтировали более 500 iPad-ов.
                Успешно заменили около 2000 дисплейных модулей в iPhone. Усовершенствовали более 200 MacBook-ов.
                Не меньшему количеству ноутбуков Apple они подарили вторую жизнь после знакомства лэптопа с
                утренним кофе или вечерним вином. Сотрудники сервисного центра по праву гордятся своей работой,
                ведь самое главное достижение в их работе — это счастливые лица клиентов. Масса положительных отзывов
                о работе UiPservice в интернете подтверждают наш высокий уровень сервисного обслуживания.
            </p>
        </div>
        <div class="regular-item">
            <h2>Ремонт техники Apple</h2>
            <p>
                В офисе UiPservice вы можете получить сервисное обслуживание с гарантией всех видов техники Apple.
                Опытные инженеры, проверенные комплектующие и профессиональное оборудование — это то, что необходимо
                для ремонта вашей техники. У нас вы сможете отремонтировать:
            </p>
            <ul>
                <li>iPhone</li>
                <li>iPad</li>
                <li>iMac</li>
                <li>MacBook</li>
                <li>Apple Watch</li>
            </ul>
        </div>
        <div class="regular-item">
            <h2>Как мы работаем</h2>
            <p>
                Выберите свое устройство и ознакомьтесь с ценами на ремонт Apple в нашем сервисном центре.
                Позвоните по указанным на сайте телефонам и получите ответы на интересующие вопросы.
                Опишите свою проблему на страницах UiPservice в социальных сетях,
                и мы обязательно поможем вам в ее решении.
            </p>
        </div>

    </div>
</div>


<app-footer></app-footer>
