.apple-grid {
  padding-top: 58px;
  max-width: 800px;
  width: 100%;
  .grid-item {
    text-align: center;
    padding: 0 12px;
    margin-bottom: 48px;
    .img-cont {
      padding-bottom: 16px;
    }
  }
}

.main-service-container {
  .service-item {
    //miheight: 220px;
    background-color: #EBEBEB;
    text-align: center;
    h2 {
      font-weight: 300;
      font-size: 35px;
      //margin: 20px 0;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
    .image-container {
      //height: 60%;
    }
  }
}

.regular {
  padding-top: 50px;
  max-width: 800px;
  .regular-item {
    margin-bottom: 50px;
  }
}

.subheader {
  text-align: center;
  h2 {
    font-weight: 300;
    font-size: 35px;
    //margin: 20px 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}