<app-service-header></app-service-header>

<div fxLayout="column" fxLayoutAlign=" center">
    <div class="row apple-grid" fxLayoutAlign="center none">
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/iphone">
                <div class="img-cont">
                    <img src="assets/icons/apple/iphone.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">iPhone</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/iphone">
                <div class="img-cont">
                    <img src="assets/icons/apple/ipad.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="aitem-title">iPad</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/iphone">
                <div class="img-cont">
                    <img src="assets/icons/apple/apple_watch.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Apple Watch</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
            <a routerLink="/service/iphone">
                <div class="img-cont">
                    <img src="assets/icons/apple/macbookpro.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Macbook</span>
            </a>
        </div>
    </div>
</div>

    <div class="" fxLayout="row">
        <div fxFlex="33%" fxLayout="row">
            <div fxFlex="60%">
                Замена стекла отдельно от дисплея
            </div>
            <div fxFlex="40%">
                <img src="/assets/pictures/iphone/iphones.png" width="100%">
            </div>
        </div>
        <div fxFlex="33%" fxLayout="row">
            <div fxFlex="60%">
                Магазин б/у техники Apple
            </div>
            <div fxFlex="40%">
                <img src="/assets/pictures/iphone/iphones.png" width="100%">
            </div>
        </div>
        <div fxFlex="33%" fxLayout="row">
            <div fxFlex="60%">
                Ремонт Apple в Украине
            </div>
            <div fxFlex="40%">
                <img src="/assets/pictures/iphone/iphones.png" width="100%">
            </div>
        </div>
    </div>

<div fxLayout="column" fxLayoutAlign=" center">
    <div class="regular">
        <div class="regular-item">
            <h2>Мы ремонтируем – вы отдыхаете</h2>
            <p>
                Наши инженеры специализируются на всех видах ремонта Apple.
                Как на сложных ремонтах, которые предусматривают наличие прямых рук и знание микросхемотехники,
                так и на более простых – модульных ремонтах. Средний опыт работы специалистов — 9 лет.
                За все время существования сервисного центра, инженеры UiPservice отремонтировали более 500 iPad-ов.
                Успешно заменили около 2000 дисплейных модулей в iPhone. Усовершенствовали более 200 MacBook-ов.
                Не меньшему количеству ноутбуков Apple они подарили вторую жизнь после знакомства лэптопа с
                утренним кофе или вечерним вином. Сотрудники сервисного центра по праву гордятся своей работой,
                ведь самое главное достижение в их работе — это счастливые лица клиентов. Масса положительных отзывов
                о работе UiPservice в интернете подтверждают наш высокий уровень сервисного обслуживания.
            </p>
        </div>
        <div class="regular-item">
            <h2>Ремонт техники Apple</h2>
            <p>
                В офисе UiPservice вы можете получить сервисное обслуживание с гарантией всех видов техники Apple.
                Опытные инженеры, проверенные комплектующие и профессиональное оборудование — это то, что необходимо
                для ремонта вашей техники. У нас вы сможете отремонтировать:
            </p>
            <ul>
                <li>iPhone</li>
                <li>iPad</li>
                <li>iMac</li>
                <li>MacBook</li>
                <li>Apple Watch</li>
            </ul>
        </div>
        <div class="regular-item">
            <h2>Как мы работаем</h2>
            <p>
                Выберите свое устройство и ознакомьтесь с ценами на ремонт Apple в нашем сервисном центре.
                Позвоните по указанным на сайте телефонам и получите ответы на интересующие вопросы.
                Опишите свою проблему на страницах UiPservice в социальных сетях,
                и мы обязательно поможем вам в ее решении.
            </p>
        </div>

    </div>
</div>




<app-footer></app-footer>
