.apple-grid {
  padding-top: 58px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .grid-item {
    text-align: center;
    padding: 0 12px;
    margin-bottom: 48px;
    .img-cont {
      padding-bottom: 16px;
    }
  }
}

//.main-service-container {
//  .service-item {
//    //miheight: 220px;
//    background-color: #EBEBEB;
//    text-align: center;
//    h2 {
//      font-weight: 300;
//      font-size: 30px;
//      //margin: 20px 0;
//    }
//    p {
//      font-size: 14px;
//      font-weight: 300;
//    }
//    .image-container {
//      height: 60%;
//    }
//  }
//}

.regular {
  padding-top: 50px;
  .regular-item {
    margin-bottom: 50px;
    h2 {
      font-family: "SF Pro Display","SF Pro Icons",sans-serif;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-family: "SF Pro Display","SF Pro Icons",sans-serif;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

//.subheader {
//  text-align: center;
//  h2 {
//    font-weight: 300;
//    font-size: 35px;
//    //margin: 20px 0;
//  }
//  p {
//    font-size: 14px;
//    font-weight: 300;
//  }
//}

@media (max-width: 959px) {
  .regular {
    .regular-item {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 19px;
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .regular {
    .regular-item {
      h2 {
        font-size: 34px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .regular {
    .regular-item {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 22px;
      }
    }
  }
}