<app-service-header></app-service-header>

<div fxLayoutAlign="center none">
    <div class="row apple-grid" fxLayoutAlign="center none">
        <div class="grid-item" fxFlex="25%">
            <a>
                <div class="img-cont">
                    <img src="assets/icons/apple/iphone.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">iPhone</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%">
            <a>
                <div class="img-cont">
                    <img src="assets/icons/apple/ipad.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="aitem-title">iPad</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%">
            <a>
                <div class="img-cont">
                    <img src="assets/icons/apple/apple_watch.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Apple Watch</span>
            </a>
        </div>
        <div class="grid-item" fxFlex="25%">
            <a>
                <div class="img-cont">
                    <img src="assets/icons/apple/macbookpro.png" alt="" width="68" class="img" height="68">
                </div>
                <span class="item-title">Macbook</span>
            </a>
        </div>
    </div>
</div>


<app-footer></app-footer>
