<div fxLayoutAlign="center none">
    <div class="price-list" fxFlex="90%" fxFlex.xs="95%">
        <div fxLayoutAlign="center none">
            <div class="price-list-header">
                <h1>{{priceList.model}}</h1>
                <div fxLayout="row">
                    <div class="image" fxHide.lt-lg fxFlex="35%">
                        <img [src]="'/api/image/' + priceList.listImage" width="100%">
                    </div>
                    <div class="text" fxLayoutAlign=" center" fxFlex="65%">


                        <div class="background">
                            <!--<div class="grid">-->
                            <!--<a fxFlex="0 1 calc(25% - 40px)" routerLink="/service/price-list/12" fxFlex.xs="0 1 calc(50% - 30px)" *ngFor="let iphone of iphones"-->
                            <!--class="grid-item" fxLayout="column">-->
                            <!--<img [src]="iphone" width="100%">-->
                            <!--iPhone XS-->
                            <!--</a>-->
                            <!--</div>-->
                            <mat-list class="grid">
                                <mat-list-item class="grid-item" fxFlex="33.3%" fxFlex.lt-lg="50%"
                                               *ngFor="let data of data1">
                                    <mat-icon matListIcon [svgIcon]="data.icon"></mat-icon>
                                    <a matLine [matMenuTriggerFor]="menu">{{data.text}}</a>
                                </mat-list-item>
                            </mat-list>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                            </mat-menu>
                            <!--<ul>-->
                            <!--<li *ngFor="let data of data1">-->
                            <!--<mat-icon [svgIcon]="data.icon"></mat-icon>-->
                            <!--<a>{{data.text}}</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="subheader">
            <h2>Стоимость услуг по ремонту iPhone 7</h2>
            <p>Мы используем только качественные комплектующие для ремонта iPhone 7 <br>
                Запчасти для ремонта уже включены в стоимость работы.</p>
        </div>
        <div class="list">
            <mat-accordion>
                <div class="price-item mat-elevation-z2" *ngFor="let item of priceList.topItems" fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <div>
                            {{item.title}}
                        </div>
                        <div class="subtitle">
                            {{item.subTitle}}
                        </div>
                    </div>
                    <div class="price">
                        {{item.price}}
                    </div>

                </div>
                <mat-expansion-panel *ngFor="let category of priceList.categories">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{category.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let item of category.items" class="price-item" fxLayout="row"
                         fxLayoutAlign="space-between center">
                        <div fxLayout="column">
                            <div>
                                {{item.title}}
                            </div>
                            <div class="subtitle">
                                {{item.subTitle}}
                            </div>
                        </div>
                        <div class="price">
                            {{item.price}}
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
