.admin-header{
  height: 75%;
  background: url("../../../assets/pictures/admin-background.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  h1 {
    font-weight: lighter;
  }

  h3 {
    font-weight: lighter;
  }
}