<div fxLayoutAlign="center none">
    <div fxFlex="98%" class="admin-service">

        <div fxLayout="column" fxLayoutAlign=" center">
            <div class="row apple-grid" fxLayoutAlign="center none">
                <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
                    <a (click)="changeSelector(0)">
                        <div class="img-cont">
                            <img src="assets/icons/apple/iphone.png" alt="" width="68" class="img" height="68">
                        </div>
                        <span class="item-title">iPhone</span>
                    </a>
                </div>
                <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
                    <a (click)="changeSelector(1)">
                        <div class="img-cont">
                            <img src="assets/icons/apple/ipad.png" alt="" width="68" class="img" height="68">
                        </div>
                        <span class="aitem-title">iPad</span>
                    </a>
                </div>
                <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
                    <a (click)="changeSelector(2)">
                        <div class="img-cont">
                            <img src="assets/icons/apple/apple_watch.png" alt="" width="68" class="img" height="68">
                        </div>
                        <span class="item-title">Apple Watch</span>
                    </a>
                </div>
                <div class="grid-item" fxFlex="25%" fxFlex.xs="50%">
                    <a (click)="changeSelector(3)">
                        <div class="img-cont">
                            <img src="assets/icons/apple/macbookpro.png" alt="" width="68" class="img" height="68">
                        </div>
                        <span class="item-title">Macbook</span>
                    </a>
                </div>
                <div class="selector"
                     [ngClass]="{'iphone': selector === 0, 'ipad': selector === 1,
                     'watch': selector === 2, 'mac': selector === 3}"></div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field class="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" (click)="addProduct()" style="margin-left: 20px">
                Add Model
            </button>
        </div>

        <div class="mat-elevation-z8">

            <div class="loading-shade" *ngIf="isLoadingResults">
                <mat-spinner></mat-spinner>
            </div>

            <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="created">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.created | date:'dd/MM/yy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="model">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.model}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="preview">
                    <mat-header-cell *matHeaderCellDef class="text-center">Preview</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="button-row text-center">
                            <button mat-button
                                    color="primary"
                                    (click)="cardPreview(row)">
                                Card Preview
                            </button>
                            <button mat-button
                                    color="primary"
                                    (click)="detailPreview(row)">
                                Detail Preview
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="text-center">Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div class="button-row text-center">
                            <button mat-button
                                    color="primary"
                                    (click)="editProduct(row)">
                                Edit
                            </button>
                            <button mat-button
                                    color="warn"
                                    (click)="deleteProduct(row._id)">
                                Delete
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10"
                           [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>

        </div>

    </div>
</div>
